.clade {
  fill: blue;
  opacity: 0.5;
}

/* Default nodes */
.node circle, .node ellipse, .node rect {
  fill: black;
  stroke: black;
  stroke-width: 1px;
}
.node {
  font: 10px "Open Sans", sans-serif;
}
.internal-node circle, .internal-node ellipse, .internal-node rect {
  fill: black;
  stroke: black;
  stroke-width: 1px;
}
.internal-node circle:hover, .internal-node ellipse:hover, .internal-node rect:hover {
  fill: orange;
  stroke: orange;
  stroke-width: 5px;
}

/* Default branches */

.branch {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
.branch:hover {
  stroke: blue;
  stroke-width: 5px;
}

/* Nodescore nodes */

.n01 circle, .n01 ellipse, .n01 rect {
  fill: rgb(245, 141, 6);
  stroke: rgb(245, 141, 6);
  stroke-width: 2px;
}
.n01 circle:hover, .n01 ellipse:hover, .n01 rect:hover {
  fill: rgb(245, 141, 6);
  stroke: rgb(245, 141, 6);
  stroke-width: 10px;
}
.n02 circle, .n02 ellipse, .n02 rect {
  fill:rgb(245, 100, 6);
  stroke: rgb(245, 100, 6);
  stroke-width: 2px;
}
.n02 circle:hover, .n02 ellipse:hover, .n02 rect:hover {
  fill:rgb(245, 100, 6);
  stroke: rgb(245, 100, 6);
  stroke-width: 10px;
}
.n03 circle, .n03 ellipse, .n03 rect {
  fill: rgb(245, 60, 6);
  stroke: rgb(245, 60, 6);
  stroke-width: 2px;
}
.n03 circle:hover, .n03 ellipse:hover, .n03 rect:hover {
  fill: rgb(245, 60, 6);
  stroke: rgb(245, 60, 6);
  stroke-width: 10px;
}
.n04 circle, .n04 ellipse, .n04 rect {
  fill: rgb(245, 0, 6);
  stroke: rgb(245, 0, 6);
  stroke-width: 2px;
}
.n04 circle:hover, .n04 ellipse:hover, .n04 rect:hover {
  fill: rgb(245, 0, 6);
  stroke: rgb(245, 0, 6);
  stroke-width: 10px;
}
.n05 circle, .n05 ellipse, .n05 rect {
  fill: rgb(205, 0, 46);
  stroke: rgb(205, 0, 46);
  stroke-width: 2px;
}
.n05 circle:hover, .n05 ellipse:hover, .n05 rect:hover {
  fill: rgb(205, 0, 46);
  stroke: rgb(205, 0, 46);
  stroke-width: 10px;
}
.n06 circle, .n06 ellipse, .n06 rect {
  fill: rgb(185, 0, 86);
  stroke: rgb(185, 0, 86);
  stroke-width: 2px;
}
.n06 circle:hover, .n06 ellipse:hover, .n06 rect:hover {
  fill: rgb(185, 0, 86);
  stroke: rgb(185, 0, 86);
  stroke-width: 10px;
}
.n07 circle, .n07 ellipse, .n07 rect {
  fill: rgb(165, 0, 126);
  stroke: rgb(165, 0, 126);
  stroke-width: 2px;
}
.n07 circle:hover, .n07 ellipse:hover, .n07 rect:hover {
  fill: rgb(165, 0, 126);
  stroke: rgb(165, 0, 126);
  stroke-width: 10px;
}
.n08 circle, .n08 ellipse, .n08 rect {
  fill: rgb(125, 0, 166);
  stroke: rgb(125, 0, 166);
  stroke-width: 2px;
}
.n08 circle:hover, .n08 ellipse:hover, .n08 rect:hover {
  fill: rgb(125, 0, 166);
  stroke: rgb(125, 0, 166);
  stroke-width: 10px;
}
.n09 circle, .n09 ellipse, .n09 rect {
  fill: rgb(85, 0, 206);
  stroke: rgb(85, 0, 206);
  stroke-width: 2px;
}
.n09 circle:hover, .n09 ellipse:hover, .n09 rect:hover {
  fill: rgb(85, 0, 206);
  stroke: rgb(85, 0, 206);
  stroke-width: 10px;
}
.n10 circle, .n10 ellipse, .n10 rect {
  fill: rgb(45, 0, 245);
  stroke: rgb(45, 0, 245);
  stroke-width:2px;
}
.n10 circle:hover, .n10 ellipse:hover, .n10 rect:hover {
  fill: rgb(45, 0, 245);
  stroke: rgb(45, 0, 245);
  stroke-width: 10px;
}
.n1 circle, .n1 ellipse, .n1 rect {
  fill: rgb(0, 245,0);
  stroke: rgb(0, 245, 0);
  stroke-width: 3px;
}
.n1 circle:hover, .n1 ellipse:hover, .n1 rect:hover {
  fill: rgb(0, 245,0);
  stroke: rgb(0, 245, 0);
  stroke-width: 10px;
}

/* Nodescore branches */

.b01 {
  fill: none;
  stroke: rgb(245, 141, 6);
  stroke-width: 2px;
}  
.b01:hover {
  fill: none;
  stroke: rgb(245, 141, 6);
  stroke-width: 10px;
} 
.b02 {
  fill: none;
  stroke: rgb(245, 100, 6);
  stroke-width: 2px;
} 
.b02:hover {
  fill: none;
  stroke: rgb(245, 100, 6);
  stroke-width: 10px;
} 
.b03 {
  fill: none;
  stroke: rgb(245, 60, 6);
  stroke-width: 2px;
} 
.b03:hover {
  fill: none;
  stroke: rgb(245, 60, 6);
  stroke-width: 10px;
} 
.b04 {
  fill: none;
  stroke: rgb(245, 0, 6);
  stroke-width: 2px;
} 
.b04:hover {
  fill: none;
  stroke: rgb(245, 0, 6);
  stroke-width: 10px;
} 
.b05 {
  fill: none;
  stroke: rgb(205, 0, 46);
  stroke-width: 2px;
} 
.b05:hover {
  fill: none;
  stroke: rgb(205, 0, 46);
  stroke-width: 10px;
} 
.b06 {
  fill: none;
  stroke: rgb(185, 0, 86);
  stroke-width: 2px;
} 
.b06:hover {
  fill: none;
  stroke: rgb(185, 0, 86);
  stroke-width: 10px;
} 
.b07 {
  fill: none;
  stroke: rgb(165, 0, 126);
  stroke-width: 2px;
} 
.b07:hover {
  fill: none;
  stroke: rgb(165, 0, 126);
  stroke-width: 10px;
} 
.b08 {
  fill: none;
  stroke: rgb(125, 0, 166);
  stroke-width: 2px;
} 
.b08:hover {
  fill: none;
  stroke: rgb(125, 0, 166);
  stroke-width: 10px;
} 
.b09 {
  fill: none;
  stroke: rgb(85, 0, 206);
  stroke-width: 2px;
} 
.b09:hover {
  fill: none;
  stroke: rgb(85, 0, 206);
  stroke-width: 10px;
} 
.b10 {
  fill: none;
  stroke: rgb(45, 0, 245);
  stroke-width:2px;
} 
.b10:hover {
  fill: none;
  stroke: rgb(45, 0, 245);
  stroke-width: 10px;
}
.b1 {
  fill: none;
  stroke: rgb(0, 245, 0);
  stroke-width: 2px;
}
.b1:hover {
  stroke: rgb(0, 245, 0);
  stroke-width: 10px;
}
