.tree-selection-brush .extent {
    fill-opacity: .05;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.tree-scale-bar text {
  font: "Open Sans", sans-serif;
}

.tree-scale-bar line,
.tree-scale-bar path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.node circle, .node ellipse, .node rect {
fill: steelblue;
stroke: black;
stroke-width: 1px;
}

.internal-node circle, .internal-node ellipse, .internal-node rect{
fill: rgb(79, 43, 238);
stroke: black;
stroke-width: 1px;
}


.node {
font: 10px "Open Sans", sans-serif;
}

.node-selected {
fill: orange !important;     
}

.node-collapsed circle, .node-collapsed ellipse, .node-collapsed rect{
fill: black !important;     
}

.node-tagged {
fill: #00f; 
}

.branch {
fill: none;
stroke: black;
stroke-width: 2px;
}

.clade {
fill: blue;
opacity: 0.5;
}

.branch-selected {
stroke: orange !important; 
stroke-width: 3px;
}

.n01 circle, .n01 ellipse, .n01 rect{
fill: rgb(245, 141, 6);
stroke: rgb(245, 141, 6);
stroke-width: 2px;
}

.n02 circle, .n02 ellipse, .n02 rect{
fill:rgb(245, 100, 6);
stroke: rgb(245, 100, 6);
stroke-width: 2px;
}

.n03 circle, .n03 ellipse, .n03 rect{
  fill: rgb(245, 60, 6);
  stroke: rgb(245, 60, 6);
  stroke-width: 2px;
  }

.n04 circle, .n04 ellipse, .n04 rect{
  fill: rgb(245, 0, 6);
  stroke: rgb(245, 0, 6);
  stroke-width: 2px;
  }

.n05 circle, .n05 ellipse, .n05 rect{
  fill: rgb(205, 0, 46);
  stroke: rgb(205, 0, 46);
  stroke-width: 2px;
  }

.n06 circle, .n06 ellipse, .n06 rect{
  fill: rgb(185, 0, 86);;
  stroke: rgb(185, 0, 86);;
  stroke-width: 2px;
  }

.n07 circle, .n07 ellipse, .n07 rect{
  fill: rgb(165, 0, 126);;
  stroke: rgb(165, 0, 126);;
  stroke-width: 2px;
  }
  .n08 circle, .n08 ellipse, .n08 rect{
    fill: rgb(125, 0, 166);;
    stroke: rgb(125, 0, 166);;
    stroke-width: 2px;
    }
  .n09 circle, .n09 ellipse, .n09 rect{
    fill: rgb(85, 0, 206);
    stroke: rgb(85, 0, 206);
    stroke-width: 2px;
    }
  .n10 circle, .n10 ellipse, .n10 rect{
    fill: rgb(45, 0, 245);
    stroke: rgb(45, 0, 245);
    stroke-width:2px;
    }
  .n1 circle, .n1 ellipse, .n1 rect{
    fill: rgb(0, 245,0);
    stroke: rgb(0, 245, 0);
    stroke-width: 3px;
    }
    
  
  

.branch-tagged {
stroke: orange;
stroke-dasharray: 10,5;
stroke-width: 2px;
}

.branch-tracer {
stroke: #bbb;
stroke-dasharray: 3,4;
stroke-width: 1px;
}


.branch-multiple {
stroke-dasharray: 5, 5, 1, 5;
stroke-width: 3px;
}

.branch:hover {
stroke: blue;
stroke-width: 10px;
}

.internal-node circle:hover, .internal-node ellipse:hover, .internal-node rect:hover {
fill: orange;
stroke: orange;
stroke-width: 10px;
}

.tree-widget {
}